
.flexcontainer {
  display: flex;
  flex-wrap: row;
  align-items: center;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}
.hide{
  color: white;  
}

.img-circle {
    border-radius:50%;
    background:none; 
    border:none;
    box-shadow:none;
     }
     
.img-benchmark {
    border-radius:5%;
     }
div.textsize{
	font-size: 40%;
}
    
div.picblock{
	display: inline-block;
	margin: 20px 2px 20px 20px;
}

.wrap {
  margin: 100px auto;
  width: 300px;  
  height: 150px;	
  position: relative;
}
.arrow {
  width: 50px;
  height: 50px;
  border: 3px dotted gray;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: -25px;
  z-index: 10;
  border-radius: 10px;  
}
.arrow-cover {
  top: 50%;
  margin-top: -25px;
  left: -21px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  background: white;
  z-index: 30;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 10px;
}

.box4 {
  width: 150px;  
  height: 150px;	
  z-index: 20;
  position: relative;
  border: 10px solid white;
  #border-radius: 10px;
}
div.box4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.box {
  width: 300px;  
  height: 150px;	
  background: white;
  z-index: 20;
  position: relative;
  border: 3px dotted gray;
  background: white;
  #border-radius: 10px;
}