.image-float {
   float: left;
   position: relative;
   top: 0;
   left: 0;
}

div.align_image_text {
  display: flex;
  flex-wrap: row;
  align-items: center;
  justify-content: center;
}

.reveal section img {
  background: none; 
  border: none; 
  box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
font-family: sans-serif;
color: #656263ff;
}

section { 
 color: #656263ff; 
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }
